{% extends "base.html" %}

{% block title %}
<title>로그인</title>
{% endblock %}

{% block header %}
<!-- 헤더-->

{% endblock %}



{% block contents %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>로그인</h1>
            </div>
        </div>
				<div class="row mt-5">
			      <div class="col-12 text-center">
			      </div>
				</div>
        <div class="row mt-5">
            <div class="col-12">
                <form method="post" action=".">
                    {% csrf_token %}
                    
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.name }}">{{ field.label }}</label>
                        <!-- widget :따로 설정한 타입 -->
                        <input  type="{{ field.field.widget.input_type }}" 
                                class="form-control" 
                                id="{{ field.name }}" 
                                placeholder="{{ field.label }}" 
                                name="{{ field.name }}"/>
                    </div>
                        {% if field.errors %}
                        <span style="color: red;">{{ field.errors }}</span>
                        {% endif %}
        
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary">로그인</button>
                </form>
                    <p>아이디가 없으신가요?</p>
                    <button class="btn btn-primary btn-block" onclick="location.href='/user/register'">회원가입</button>                
            </div>
        </div>
    </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
    </body>
</html>
{% endblock %}