{% extends "base.html" %}

{% block title %}
<title>회원가입</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/style.css">        
{% endblock %}


{% block contents %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>회원가입</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <!-- POST방식으로 전달 -->
            <form method="post" action="." >
                <!-- csrf_token : POST방식으로 데이터를 서버에 전송하기 위해서 필요한 토큰 -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="user_id">아이디</label>
                    <input type="text" class="form-control" id="user_id" placeholder="아이디를 입력하세요." name="user_id">
                    <input type="button" value="중복확인"  id="alertBtn">
                </div>
                <div class="form-group">
                    <label for="user_name">이름</label>
                    <input type="text" class="form-control" id="user_name" placeholder="이름을 적어주세요." name="user_name">
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요." name="password">
                </div>
                <div class="form-group">
                    <label for="re-password">비밀번호 확인</label>
                    <input type="password" class="form-control" id="re-password" placeholder="비밀번호 확인" name="re-password">
                </div>
                <div class="form-group">
                    <label for="user_birth">생년월일</label>
                    <input type="date" class="form-control" id="user_birth" name="user_birth">
                </div>
                <div class="form-group">
                    <label for="phonenumber">전화번호</label>
                    <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="하이픈(-)없이 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="profile_image">프로필 이미지</label>
                    <br>
                    <input type="file" id="profile_image" name="profile_image" accept="image/*">
                </div>
                <!-- 관심사는 BOOK 카테고리가 지정되면 -->
                <!-- <div class="form-group">
                    <label for="favorite"> 관심사 선택</label>
                    <div class="container">            
                    <a><input type="checkbox"><span>경영경제</span></a>
                    <a><input type="checkbox"><span>사회</span></a>
                    <a><input type="checkbox"><span>자기계발</span></a>
                    <a><input type="checkbox"><span>문화 </span></a>
                    </div>     -->
                <br>

                <!-- POST 방식 SUBMIT-->
                <button type="submit" class="button">가입완료</button>
            </form>
        </div>
    </div>
</div>  

<script>
const alertBtn = document.getElementById('alertBtn');

alertBtn.onclick = function() {
alert('이 아이디를 사용해도 좋습니다.');
        };

</script>
{% endblock %}