{% extends "base.html" %}

{% block title %}
<title>회원가입</title>
{% endblock %}

{% block header %}
<!-- 헤더-->
<header class="py-5 bg-light border-bottom mb-5">
    <div class="container">
        <div class="row mt-5"></div>
            <div>
            <select name="selectbar" id="selectbar">
                <option value="1">유저명</option>
                <option value="2">아이디명</option>
            </select>
            <input type="search" name="search" id="search">
            <input type="button" value="검색결과">
            </div>
        <div class="row mt-5"></div>
    </div>
</header>
{% endblock %}


{% block contents %}
<!-- 콘텐츠 -->
<div>
    <div class="container" id="#tab-01">
        <p><h3>○ ○ ○ 님에 대한 검색 결과</h3></p> 
        <div class="row">
                <div class="col-2"></div>
                <div class="col-2 tab_bar text-center" id="tab-01">
                    <a href="#">통계</a>
                </div>
                <div class="col-2 tab_bar text-center" id="tab-02">
                    <a href="#">읽은 책</a>
                </div>
                <div class="col-2 tab_bar text-center" id="tab-03">
                    <a href="#">위시리스트</a>
                </div>
                <div class="col-2 tab_bar text-center" id="tab-03">
                    <a href="#">참여 모임</a>
                </div>
                <div class="col-2 tab_bar text-center" id="tab-05">
                </div>
                <div class="col-1"></div>
        </div>
    </div>
</div>
</header>
<div class="container">
<div class="col-12 text-center">
    
    <img src="https://image.aladin.co.kr/product/16901/95/cover200/k022534274_1.jpg">
    <img src="https://image.aladin.co.kr/product/5608/0/cover200/6000835790_3.jpg">
    <img src="https://image.aladin.co.kr/product/19389/8/cover200/8935212822_1.jpg">
    <img src="https://image.aladin.co.kr/product/28512/86/cover200/896054289x_1.jpg">
    <br>
    <img src="https://image.aladin.co.kr/product/31722/66/cover200/8937417154_1.jpg">
    <img src="https://image.aladin.co.kr/product/3915/96/cover200/899230997x_1.jpg">
    <img src="https://image.aladin.co.kr/product/31868/12/cover200/k632833529_1.jpg">
    <img src="https://image.aladin.co.kr/product/1349/19/cover200/8935208957_2.jpg">
</div>    
</div>
{% endblock %}