{% extends "base.html" %}

{% block title %}
<title>회원가입</title>
{% endblock %}

{% block header %}
<!-- 헤더-->
<header class="py-5 bg-light border-bottom mb-5">
    <div class="container">
        <div class="row mt-5"></div>
            <div>
            <select name="selectbar" id="selectbar">
                <option value="1">유저명</option>
                <option value="2">아이디명</option>
            </select>
            <input type="search" name="search" id="search">
            <input type="button" value="검색결과">
            </div>
        <div class="row mt-5"></div>
    </div>
</header>
{% endblock %}


{% block contents %}
<!-- 콘텐츠 -->

{% endblock %}