{% extends "base.html" %}

{% block title %}
<title>회원가입</title>
{% endblock %}


{% block header %}
<!-- 헤더-->
<header class="py-5 bg-light border-bottom mb-5">
    <div class="container">
        <div class="row mt-5"></div>
            <form action="" method="get" action=".">
                <select name="selectbar" id="selectbar">
                    <option value="1">유저명</option>
                    <option value="2">아이디명</option>
                </select>
                <input type="search" name="searchword" id="search">
                <input type="submit" value="검색결과">
            </form> 
        <div class="row mt-5"></div>
    </div>
</header>
{% endblock %}

{% block contents %}
<!-- 콘텐츠 -->

{% if query %}
<div class="container">
    <div class="row">
        <div class="col-12" 
        style="margin-bottom: 40px; 
        font-weight: bold;
        font-size: 30px;
        -webkit-text-stroke: 1px white;
        color: black;
        ">🔎[ {{query}} ]에 대해 검색한 내용입니다.</div> 
        {% for user in users %}        
        <!-- 이름으로 검색 -->
        <!-- {% if selectbar == "1" %} -->
        <!-- <a href="/user/userpage/{{user.id}}/"><div>{{user.user_name}}</div></a> -->
        <!-- 아이디로 검색한 경우 -->
        <!-- {% elif selectbar == "2" %} -->
        <!-- <a href="/user/userpage/{{user.id}}/"><div>{{user.user_id}}</div></a> -->
        <!-- {% endif %} -->
<div class="container">
    <div>
        <div style="overflow: auto; width: auto; height: 250px">
            <table class="table caption-top table-dark table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">유저 아이디</th>
                <th scope="col">유저 이름</th>
                <th scope="col">가입시간</th>
                </tr>
            </thead>
            <tbody>
                <tr onclick="location.href='/user/userpage/{{user.id}}'">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.user_id}}</td>
                    <td>{{user.user_name}}</td>
                    <td>{{user.registered_dttm|date:'Y년 m월 d일'}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}