{% extends "base.html" %}

{% block title %}
<title>유저 페이지</title>
{% endblock %}


<!-- 헤더-->
{% block header %}
<header class="py-5 bg-light border-bottom mb-5">
    <!-- 추천 탭 -->
    <div>
        <div class="container" id="#tab-01"> 
            <div class="row">
                    <div class="col-3"></div>
                    <div class="col-2 tab_bar text-center" id="tab-02">
                        <a class="nav-link"  onclick="location.href='reading'">📚읽은 책</a>
                    </div>
                    <div class="col-2 tab_bar text-center" id="tab-03">
                        <a class="nav-link"  onclick="location.href='favorite'">📘위시리스트</a>
                    </div>
                    <div class="col-2 tab_bar text-center" id="tab-03">
                        <a class="nav-link"  onclick="location.href='usercommunity'">📗모임 참여</a>
                    </div>
                    <div class="col-1 tab_bar text-center" id="tab-05">
                        <input type="button" value="회원정보 수정" onclick="location.href='/user/modify'">
                    </div>
                    <div class="col-2"></div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}

{% endblock %}