{% extends "base.html" %}

{% block title %}
<title>책읽아웃</title>
{% endblock %}

{% block header %}
<!-- 헤더-->
<header class="py-5 bg-light border-bottom mb-5">
    
    {% if request.session.user %}
    <img src="https://cdn-icons-png.flaticon.com/128/1077/1077114.png"> {{ name }}님 환영합니다.
    {% else %}

    {% endif %}
</header>
{% endblock %}

{% block contents %}
<!-- Contents -->
<div class="container">
    <div class="col-12 text-center">
        {{url}}
        <img src="https://image.aladin.co.kr/product/16901/95/cover200/k022534274_1.jpg">
        <img src="https://image.aladin.co.kr/product/5608/0/cover200/6000835790_3.jpg">
        <img src="https://image.aladin.co.kr/product/19389/8/cover200/8935212822_1.jpg">
        <img src="https://image.aladin.co.kr/product/28512/86/cover200/896054289x_1.jpg">
        <br>
        <img src="https://image.aladin.co.kr/product/31722/66/cover200/8937417154_1.jpg">
        <img src="https://image.aladin.co.kr/product/3915/96/cover200/899230997x_1.jpg">
        <img src="https://image.aladin.co.kr/product/31868/12/cover200/k632833529_1.jpg">
        <img src="https://image.aladin.co.kr/product/1349/19/cover200/8935208957_2.jpg">
    </div>    
</div>

{% endblock %}