{% extends "base.html" %}

{% block title %}
<title>독서모임</title>
{% endblock %}

<!-- css -->
{% block css %}


{% endblock %}

<!-- 헤더 -->
{% block header %}
<div class="header" style="height: 300px; margin-bottom: 40px;">
    <div class="container">
        <div style="overflow: auto; height: 300px">
        <div class="row">
            <div class="col-12 text-center">
              <br><br>
              <h6>❗ 모임 생성시 정확한 책 선택을 위해 <span style="font-weight: bold;">🔑ISBN</span>으로만 적도록 되어있습니다. 
                🔎검색에서 도서의 <span style="font-weight: bold;">🔑ISBN</span>을 확인해주세요.❗ </h6>
            </div>
            <div class="row">
<pre style="font-weight: bold;">

        ❗ 공지사항 ❗     
    
        안녕하세요, "책읽아웃" 회원 여러분!
        가입을 진심으로 환영합니다. 아래의 공지사항을 꼭 읽어주시기 바랍니다.

        💛 모임 참여 💛
 
        - 독서모임에 많이 참여할수록, 저희 『책읽아웃』이 여러분의 성향에 딱 맞는 책을 추천해 드릴 수 있습니다.
        웹사이트를 더욱 풍성하게 즐기고 싶다면 "책읽아웃" 하세요!😜

        💛 서로 존중하고 배려하는 분위기를 유지하기 위해 규칙을 지켜주세요. 💛 
        - 욕설이나 비방, 불쾌한 행동은 삼가해주시고, 다른 회원들과 긍정적인 대화와 토론을 이어나가는 데 동참해주세요.
        - 커뮤니티 내에서의 불만이나 문제가 있을 경우, 운영자에게 알려주시면 신속히 조치를 취하도록 하겠습니다.

        💌 운영자 이메일 : bassstg@naver.com

        💛 공지사항 확인 💛 
        - 커뮤니티의 소식과 중요한 공지사항은 정기적으로 확인해주시기 바랍니다. 
        - 주기적인 방문을 통해 새로운 소식을 놓치지 않고 참여하실 수 있습니다.

        좋은 독서 경험과 유익한 커뮤니티 활동이 되길 바랍니다.
        감사합니다!
            
        - 책읽아웃 운영자 올림
</pre>             
            </div>  
        </div>
        </div>
    </div>
</div>    
{% endblock %}

<!-- 콘텐츠 -->
{% block contents %}
<div class="container">

<table class="table caption-top table-dark table-hover">
    <caption>현재 진행중인 모임</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">모임일자</th>
        <th scope="col">모임장소</th>
        <th scope="col">도서</th>
        <th scope="col">작성자</th>
      </tr>
    </thead>
    <tbody>
        {% for community in communities %}
      <tr onclick="location.href='.'">
        <th scope="row">{{community.id}}</th>
        <td>{{community.meeting_date}}</td>
        <td>{{community.meeting_place}}</td>
        <td>{{community.book}}</td>
        <td>{{community.creator}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<!-- 로그인 O -->
{% if request.session.user %}
<div class="row">
    <div class="col-2">
    <button><a onclick="location.href='new'">모임 새로 만들기</a></button>
    </div>
</div>
{% else %}

    <div class="row">
        <div class="col-12 text-center">
        로그인하시면 독서모임에 함께 참여하실 수 있습니다.
        </div>
    </div>
{% endif %}

</div>
{% endblock %}

<!-- js -->
{% block script %}

{% endblock %}