{% extends "base.html" %}

{% block title %}
<title>독서모임</title>
{% endblock %}

<!-- css -->
{% block link %}
{% endblock %}

<!-- 헤더 -->
{% block header %}
<div class="container">
    <div class="col-12 text-center">
    <br><br>
    ❗ 공지사항 ❗
    <br>
    ▶ 공지사항 글 작성·수정·삭제 권한은 관리자에게 부여합니다.
    <br><br>
    </div>
</div>

{% endblock %}
<!-- 콘텐츠 -->
{% block contents %}
<div class="container">
    <div class="grid text-center">
      
    </div>
</div>
{% endblock %}

<!-- js -->
{% block script %}
{% endblock %}